langchain
langgraph
youtube_transcript_api
fastapi
streamlit
dotenv
langchain_ollama
langchain_openai
langgraph-checkpoint-sqlite
langchain-text-splitters
uvicorn[standard]
langchain_community
langchain_core
rank-bm25
PyMuPDF
jose
pypdf
fastapi_mail
langchain-tavily
langchain_google_genai 
python-multipart
passlib==1.7.4
google-api-core
bs4
bcrypt==4.3.0